body {
    position: relative;
}

.video-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: black;
}   

.video-title{
    font-family: "Raleway";
    font-weight: 600;
    color: white;
    background-color: transparent;
}

.navigation {
    margin: 20px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#back {
    margin: 0px 40px;
}

#back img{
    width: 40px;
    height: auto;
    color: white;
}

.controls {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    margin-left: 20px;
    margin-bottom: 20px;
    z-index: 10;
}

.controls .play-button-container .play-button{
    margin: 15px 25px;
    width: 50px;
    height: auto;
}

.time {
    height: 100%;
    width: 100%;
    margin-right: 20px;
    margin-bottom: 10px;
}


#progress-bar {
    margin-bottom: 20px;
    position: relative;
    width: 97%;
    height: 15px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.151);
}
.controls .time #timer h1{
    margin: 15px 0px;
}

.controls .time #timer h1 span{
    color: white;
    font-family: "Raleway";
    font-weight: 300;
    font-size: 27px;
}

.controls #progress-bar #loaded {
    width: .1%;
    height: 100%;
    border-radius: 16px;
    background-color: white;
}

.visble {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}

.hidden { 
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s 2s linear;
}

video {
    width: 100%;
    height: auto;
}