@font-face {
    font-family:Raleway;
    font-weight: 500;
    src: url('../Fonts/Raleway-Medium.ttf');
}

@font-face {
    font-family: Raleway;
    font-weight: 300;
    src: url('../Fonts/Raleway-Light.ttf');
}

@font-face {
    font-family: Raleway;
    font-weight: 600;
    src: url('../Fonts/Raleway-Bold.ttf');
}

html{
	width: 100%;
	height: 100%;
    overflow: hidden;
    background-color: white;
}

body {
	width: 100%;
	height: 100%;
    margin: 0;
}

.centered {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.invisible {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.selected {
    padding-bottom: 5px;
    border-bottom: 3px solid rgb(214, 121, 0);
}