@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes no-anim {
    100% {
        -webkit-transform: none;
        transform: none;
    }
}

.background {
    background: rgb(251,164,0);
    background: linear-gradient(0deg, rgba(251,164,0,1) 0%, rgba(255,119,0,1) 100%);
}

.rounded-background {
    background-color: rgb(255, 255, 255);
    padding: 16px;
    border-radius: 32px;
    animation: no-anim;
}

img {
    width: 80px;
    height: fit-content;
    margin-top: 25px;
    color: white;
    opacity: .9;
    animation: spin 2s linear infinite;
}

h1 {
    color: white;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 80px;
    margin: 0;
}

p {
    margin: 0;
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 58px;
    color: rgba(255, 255, 255, 0.568);
}